<div class="conversation" [style.height.px]="innerHeight-80">
  <div *ngFor="let message of messages">
    <div class="outgoing_msg" *ngIf="message.fromId==user.id">
      <div class="sent_msg">
        <p>{{message.message}}</p>
        <span class="time_date">{{message.sentDate | date:'medium' }}</span>
      </div>
    </div>
    <div class="incoming_msg" *ngIf="message.fromId!=user.id">
      <div class="incoming_msg_img">
        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p>{{message.message}}</p>
          <span class="time_date"> {{message.sentDate | date:'medium' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-2 d-flex flex-row">
  <input type="text" [(ngModel)]="preparedMsg" style="width: 100%">
  <!-- <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="preparedMsg" rows="2" (change)="preparedMsgChange($event)"></textarea> -->
  <button type="button" class="btn btn-outline-dark" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</div>