<app-header></app-header>

<div class="d-flex flex-row">
  <div class="list-group col-sm-2 cantactList" [style.height.px]="innerHeight">
      <div class="chat_list" *ngFor="let message of resentMessages">
          <div class="chat_people">
            <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
              <p>{{message.message | limitTo: 20 }}</p>
            </div>
          </div>
        </div>
  </div>
  <div class="col-sm-10 chatArea">
    <div class="conversation" [style.height.px]="innerHeight-80">
      <div *ngFor="let message of messages">
        <div class="outgoing_msg" *ngIf="message.fromId==userId">
          <div class="sent_msg">
            <p>{{message.message}}</p>
            <span class="time_date">{{message.sentDate | date:'medium' }}</span>
          </div>
        </div>
        <div class="incoming_msg" *ngIf="message.fromId!=userId">
          <div class="incoming_msg_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>{{message.message}}</p>
              <span class="time_date"> {{message.sentDate | date:'medium' }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="p-2 d-flex flex-row">
      <input type="text" [(ngModel)]="preparedMsg" style="width: 100%" >
      <!-- <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="preparedMsg" rows="2" (change)="preparedMsgChange($event)"></textarea> -->
      <button type="button" class="btn btn-outline-dark" (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>